.category-content{
  .category-item{
    float: left;
    width: 20%;
    padding-top: px2rem(14px);
    font-size: px2rem(13px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-icon{
    width: px2rem(47px);
  }
  .item-name{
    margin-top: px2rem(14px);
  }
}
.list-content{
  .list-title{
    text-align: center;
    font-size: px2rem(16px);
    margin-top: px2rem(20px);
    margin-bottom: px2rem(5px);
  }
  .title-line{
    display: inline-block;
    border-bottom: 1px solid #f9d189;
    height: 1px;
    width: 30px;
    margin: 0 4px 5px;
  }
}
.recommendWrap{
  display:flex;
  flex-wrap:wrap;
  li{
    width:50%;
    padding:0 px2rem(4px);
    box-sizing:border-box;
    border-bottom:px2rem(1px) solid #f3f4f8;
    background:#fff;
    padding-bottom:px2rem(5px);
    overflow: hidden;
    &:nth-child(2n+1) {
      border-right:px2rem(1px) solid #f3f4f8;

    }

    img{
      width: 100%;
      display: block;
    }
    .name{
      width:90%;
      display: block;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow:hidden;
      font-size:px2rem(14px);
      padding:px2rem(14px) 0 0px 0;
      color:#000;
      margin-left:px2rem(12px);
    }
    .price{
      width:90%;
      overflow:hidden;
      font-size:px2rem(14px);
      padding:px2rem(12px) 0;
      color:#e64340;
      margin-left:px2rem(12px);
    }
  }
}