.nav{
  height: px2rem(63px);
  border-bottom: 1px solid#b2b2b2;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: #fff;
  .title{
    font-size: px2rem(17px);
    color: #333;
    text-align: center;
    line-height: px2rem(63px);
  }
  .back-icon{
    width: px2rem(27px);
    height: px2rem(27px);
    position: absolute;
    top: px2rem(23px);
    left: px2rem(10px);
    background-image: url("img/goBack.png");
    background-size: cover;
  }
}